<div class="moveset-info" *ngIf="situationSetEvaluation">
    <h4>Chosen pokemons:</h4>
    <div class="pokemon" *ngFor="let pokemon of situationSetEvaluation.situationSet.attackers; let i = index">
        {{ pokemon.name }} {{ percentageOf(pokemon) | percent }}
        <div>
            <div *ngFor="let move of pokemon.moveset" class="type-icon type-{{move.type.name | lowercase}}">
                <div>{{ move.type.name }}</div>
                <div>{{ move.power }}</div>
            </div>
        </div>
    </div>

    <h4>Effectiveness:</h4>
    <span *ngFor="let breakpoint of smallBracketBreakpoints" 
        class="effectiveness"
        [ngClass]="breakpoint.colorClass"
        [title]="breakpoint.display"
    >
            {{ situationSetEvaluation.smallBrackets[breakpoint.display].length / allTypes.length | percent }}
    </span>

    <h4>Matchups:</h4>
    <div class="matchups">
        <div *ngFor="let evaluation of evaluations">
            <poke-effectiveness [value]="evaluation.moveEffect.multiplier"></poke-effectiveness>
            <span class="type-icon type-{{ evaluation.moveEffect.type.name | lowercase }} number" [title]="evaluation.moveEffect.type.name">
                {{ evaluation.moveEffect.dmg | number : '1.2-2' }}
            </span>
            =>
            <div *ngFor="let type of evaluation.situation.defender.types" class="type-icon type-{{type.name | lowercase}}">
                {{ type.name }}
            </div>
            ({{ evaluation.situation.attacker.name }})
        </div>
    </div>
</div>
