<div class="moveset-info" *ngIf="moveset">
    <h3>Chosen moveset:</h3>
    <div>
        <div *ngFor="let move of moveset.moveset" class="type-icon type-{{move.type.name | lowercase}}">
            {{ move.type.name }}
        </div>
    </div>

    <h3>Effectiveness:</h3>

    <span>
        <poke-effectiveness [min]="6" [max]="1000" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="4" [max]="6" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="3" [max]="4" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="2" [max]="3" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="1.5" [max]="2" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="1" [max]="1.5" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="0.75" [max]="1" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="0.5" [max]="0.75" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="0.375" [max]="0.5" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="0" [max]="0.375" [brackets]="moveset.brackets"></poke-effectiveness>
        <poke-effectiveness [min]="0" [max]="0" [brackets]="moveset.brackets"></poke-effectiveness>
    </span>

    <h3>Matchups:</h3>

    <div class="matchups">
        <div *ngFor="let matchup of matchups">
            <poke-effectiveness [value]="matchup.effect.multiplier"></poke-effectiveness>
            <!-- <span class="effectiveness number" [ngClass]="'x' + ((matchup.effect.multiplier) + '').replace('.', '')">x{{ matchup.effect.multiplier }}</span> -->
            <span class="type-icon type-{{ matchup.effect.type.name | lowercase }} number" [title]="matchup.effect.type.name">{{ matchup.effect.dmg }}</span>
            =>
            <div *ngFor="let type of matchup.defender" class="type-icon type-{{type.name | lowercase}}">
                {{ type.name }}
            </div>
        </div>
    </div>
</div>
