<div class="button-list">
    <button class="" (click)="create()">New</button>
    <button class="success" (click)="save()">Save [{{ loadedIndex === -1 ? 'N' : loadedIndex }}]</button>
    <button class="" (click)="loadNext()">LoadNext</button>
    <button class="" (click)="copy()">Copy</button>
    <button class="danger" (click)="clear()">Delete</button>
    <button class="black" (click)="clearAll()">Delete All [{{loadedNumber}}]</button>
</div>

<div class="pokemon-row" *ngFor="let superPokemon of attackers">
    <button class="delete small danger" (click)="deletePokemon(superPokemon)">X</button>
    <pokemon [superPokemon]="superPokemon"></pokemon>
</div>

<button class="small" (click)="addPokemon()">Add pokemon</button>

<button (click)="maxAttackersNum = maxAttackersNum % 6 + 1">
    {{maxAttackersNum}}
</button>

<h4>Context:</h4>
<div class="weathers">
    <button *ngFor="let possibleWeather of weathers" class="small"
        [class.success]="context.weather === possibleWeather" (click)="context.weather = possibleWeather">
        {{ possibleWeather }}
    </button>
</div>
<div class="terrains">
    <button *ngFor="let possibleTerrain of terrains" class="small"
        [class.success]="context.terrain === possibleTerrain" (click)="context.terrain = possibleTerrain">
        {{ possibleTerrain }}
    </button>
</div>

<h4>Opponent:</h4>
<pokemon [superPokemon]="defender" [isDefender]="true"></pokemon>

<div class="button-list">
    <button class="primary" (click)="calculate()">Calculate</button>
</div>

<h4>This is your setup:</h4>
<div *ngIf="evaluations.length > 0; else emptyEvaluations" class="results">
    <poke-evaluation *ngFor="let evaluation of evaluations" [evaluation]="evaluation"></poke-evaluation>
</div>

<ng-template #emptyEvaluations>
    <div>Press Calculate to get smarter</div>
</ng-template>