<poke-setup-save-buttons (onSave)="saveSetup()"></poke-setup-save-buttons>

<div style="margin-top: 15px">
    <poke-accordion>
        <ng-template #accordionTitle>
            <h4>Your Pokémons [{{ markedCount ? markedCount + ' / ' : '' }}{{ attackers.length }}]:</h4>
        </ng-template>
        <ng-template #accordionBody>
            <div class="pokemon-row" *ngFor="let superPokemon of attackers">
                <button class="delete small danger" (click)="deleteAttacker(superPokemon)">X</button>
                <pokemon [superPokemon]="superPokemon" [choosable]="true"></pokemon>
            </div>
        </ng-template>
    </poke-accordion>
</div>

<button class="small" (click)="addAttacker()">Add pokemon</button>

<button (click)="maxAttackersNum = maxAttackersNum % 6 + 1">
    {{maxAttackersNum}}
</button>

<button (click)="resetMustHave()">Reset selection</button>

<h4>Context:</h4>
<div class="weathers">
    <button *ngFor="let possibleWeather of weathers" class="small"
        [class.success]="context.weather === possibleWeather" (click)="context.weather = possibleWeather">
        {{ possibleWeather }}
    </button>
</div>
<div class="terrains">
    <button *ngFor="let possibleTerrain of terrains" class="small"
        [class.success]="context.terrain === possibleTerrain" (click)="context.terrain = possibleTerrain">
        {{ possibleTerrain }}
    </button>
</div>

<poke-defender-list-save-buttons (onSave)="saveDefenders()"></poke-defender-list-save-buttons>

<div style="margin-top: 15px">
    <poke-accordion>
        <ng-template #accordionTitle>
            <h4>Opponents [{{ exactDefenderCount }} | {{ generatedDefenderCount }}]:</h4>
        </ng-template>
        <ng-template #accordionBody>
            <div class="pokemon-row" *ngFor="let defender of defenders">
                <button class="delete small danger" (click)="deleteDefender(defender)">X</button>
                <pokemon [superPokemon]="defender" [isDefender]="true"></pokemon>
            </div>
            <button class="small" (click)="addDefender()">Add pokemon</button>
        </ng-template>
    </poke-accordion>
</div>

<div class="button-list">
    <button class="primary" (click)="calculate()">Calculate</button>
</div>

<h4>This is your setup:</h4>
<div *ngIf="evaluations.length > 0; else emptyEvaluations" class="results">
    <poke-evaluation *ngFor="let evaluation of evaluations" [evaluation]="evaluation"></poke-evaluation>
</div>

<ng-template #emptyEvaluations>
    <div>Press Calculate to get smarter</div>
</ng-template>