.button-list,
.results {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.results {
    display: flex;
    flex-direction: column;
}
.weathers {
    margin-bottom: 0.5rem;
}

.terrains {
    margin-bottom: 1rem;
}

.pokemon-row {
    display: flex;
}

pokemon {
    width: 100%;
}

.delete {
    margin-top: 20px;
}
