<poke-accordion [highlightClass]="superPokemon.isRequired ? 'chosen2' : ''" (titleRightClicked)="onRightClick()">
    <ng-template #accordionTitle>
        <input [(ngModel)]="superPokemon.name" type="text" placeholder="Pokémon's name">
        <span style="margin-left: 6px" *ngIf="!isDefender">{{ superPokemon.mutantCounts }}</span>
    </ng-template>

    <ng-template #accordionBody>
        <ng-container *ngIf="isDefender" [ngTemplateOutlet]="defendingStat"></ng-container>
        <ng-container *ngIf="!isDefender" [ngTemplateOutlet]="attackingStats"></ng-container>
        <ng-container [ngTemplateOutlet]="types"></ng-container>
        <ng-container *ngIf="!isDefender" [ngTemplateOutlet]="numberOfMoves"></ng-container>
        <ng-container *ngIf="!isDefender">
            <ng-container *ngTemplateOutlet="moves; context: { speciality: 'Physical', powers: physicalAttackPowers, isSpecial: false }"></ng-container>
            <ng-container *ngTemplateOutlet="moves; context: { speciality: 'Special', powers: specialAttackPowers, isSpecial: true }"></ng-container>
        </ng-container>

        <ng-container [ngTemplateOutlet]="ability"></ng-container>
        
        <ng-container *ngIf="!isDefender" [ngTemplateOutlet]="item"></ng-container>
        <ng-container *ngIf="!isDefender" [ngTemplateOutlet]="role"></ng-container>
    </ng-template>
</poke-accordion>

<ng-template #defendingStat>
    <h4>Defending stats</h4>
    <table>
        <tr>
            <th></th>
            <th>Base</th>
            <th>Nature</th>
            <th>EV</th>
            <th>Stage</th>
            <th></th>
        </tr>
        <tr>
            <td>Hp</td>
            <td>
                <input [(ngModel)]="superPokemon.stats.hp.base" type="text" maxlength="3" placeholder="Base">
            </td>
            <td></td>
            <td>
                <input [(ngModel)]="superPokemon.stats.hp.ev" type="text" maxlength="3" placeholder="EV">
            </td>
            <td></td>
            <td>
                {{ superPokemon.stats.hp.value }}
            </td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>
                <input [(ngModel)]="superPokemon.stats.defense.base" type="text" maxlength="3"
                    placeholder="Base defending stat">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.defense.nature" type="text" maxlength="3" placeholder="Nature">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.defense.ev" type="text" maxlength="3" placeholder="EV">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.defense.stage" type="text" maxlength="3" placeholder="Stage">
            </td>
            <td>
                {{ superPokemon.stats.defense.value }}
            </td>
        </tr>
        <tr>
            <td>Special Defense</td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spDefense.base" type="text" maxlength="3"
                    placeholder="Base defending stat">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spDefense.nature" type="text" maxlength="3" placeholder="Nature">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spDefense.ev" type="text" maxlength="3" placeholder="EV">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spDefense.stage" type="text" maxlength="3" placeholder="Stage">
            </td>
            <td>
                {{ superPokemon.stats.spDefense.value }}
            </td>
        </tr>
    </table>
</ng-template>

<ng-template #attackingStats>
    <h4>Damaging stats</h4>
    <table>
        <tr>
            <th></th>
            <th>Base</th>
            <th>Nature</th>
            <th>EV</th>
            <th>Stage</th>
            <th></th>
        </tr>
        <tr>
            <td>Attack</td>
            <td>
                <input [(ngModel)]="superPokemon.stats.attack.base" type="text" maxlength="3"
                    placeholder="Base damaging stat">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.attack.nature" type="text" maxlength="3" placeholder="Nature">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.attack.ev" type="text" maxlength="3" placeholder="EV">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.attack.stage" type="text" maxlength="3" placeholder="Stage">
            </td>
            <td>
                {{ superPokemon.stats.attack.value }}
            </td>
        </tr>
        <tr>
            <td>Special Attack</td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spAttack.base" type="text" maxlength="3"
                    placeholder="Base damaging stat">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spAttack.nature" type="text" maxlength="3" placeholder="Nature">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spAttack.ev" type="text" maxlength="3" placeholder="EV">
            </td>
            <td>
                <input [(ngModel)]="superPokemon.stats.spAttack.stage" type="text" maxlength="3" placeholder="Stage">
            </td>
            <td>
                {{ superPokemon.stats.spAttack.value }}
            </td>
        </tr>
    </table>
</ng-template>

<ng-template #types>
    <h4>{{ superPokemon.name || 'Your Pokémon' }}'s type(s):</h4>
            <div class="stab-types">
                <span *ngFor="let type of typeList" class="type-icon type-{{type.name | lowercase}}"
                    [ngClass]="{ 'chosen': stabTypes.includes(type) }" (click)="toggleStabType(type)">
                    {{ type.name }}
                </span>
            </div>
</ng-template>

<ng-template #numberOfMoves>
    <h4>
        Number of damaging moves:
        <button (click)="superPokemon.numberOfAttacks = (superPokemon.numberOfAttacks) % 4 + 1">
            {{superPokemon.numberOfAttacks}}
        </button>
    </h4>
</ng-template>

<ng-template #moves let-speciality="speciality" let-powers="powers" let-isSpecial="isSpecial">
    <h4>
        {{ speciality }} moveset:
    </h4>
    <div class="attack-types">
        <span *ngFor="let type of typeList" class="type-icon type-{{type.name | lowercase}}"
            [class.chosen]="getAttackTypes(isSpecial).includes(type)" [class.chosen2]="getMustHaveAttackTypes(isSpecial).includes(type)"
             (contextmenu)="toggleMustHaveAttackType($event, type, isSpecial)"
             (click)="toggleAttackType(type, isSpecial)">
            <div>
                {{ type.name }}
            </div>
            <input [ngModel]="powers[type.name]" (ngModelChange)="attackPowerChange(type, isSpecial, $event)" type="text" maxlength="3" />
        </span>
    </div>
</ng-template>

<ng-template #ability>
    <h4>{{ superPokemon.name || 'Your Pokémon' }}'s relevant ability:</h4>
            <div class="abilities">
                <button *ngFor="let possibleAbility of abilities" class="small"
                    [ngClass]="{ success: superPokemon.ability === possibleAbility }"
                    (click)="superPokemon.ability = possibleAbility">
                    {{ possibleAbility }}
                </button>
            </div>
</ng-template>

<ng-template #item>
    <h4>{{ superPokemon.name || 'Your Pokémon' }}'s item:</h4>
    <div class="items">
        <button *ngFor="let possibleItem of items" class="small"
            [ngClass]="{ success: superPokemon.item === possibleItem }"
            (click)="superPokemon.item = possibleItem">
            {{ possibleItem }}
        </button>
    </div>
</ng-template>

<ng-template #role>
    <h4>
        {{ superPokemon.name || 'Your Pokémon' }}'s role:
        <input [ngModel]="!superPokemon.roleFailure" (ngModelChange)="superPokemon.roleFailure = !superPokemon.roleFailure" type="checkbox"/>
    </h4>
    <div class="roles">
        <button *ngFor="let possibleRole of roles" class="small"
            [ngClass]="{ success: superPokemon.role === possibleRole }"
            (click)="superPokemon.role = possibleRole">
            {{ possibleRole }}
        </button>
    </div>
</ng-template>
