<div class="moveset">
    <div class="vl">
        <div *ngFor="let move of highscore.moveset" class="type-icon type-{{move.type.name | lowercase}}">
            {{ move.type.name }}
        </div>
    </div>

    <span class="vl">
        <span class="effectiveness x2" title="super effective">{{ superEffectiveNumber / allTypes.length | percent }} </span>
        <span class="effectiveness x1" title="effective">{{ effectiveNumber / allTypes.length | percent }} </span>
        <span class="effectiveness x05" title="not very effective or immune">{{ notVeryEffectiveNumber / allTypes.length | percent }} </span>
    </span>

    <span class="vl">
        <span class="effectiveness x1">{{ highscore.avgEffect.dmg | number : '1.2-2'}}</span>
    </span>
    <button class="small" (click)="info()">></button>
</div>