<div class="accordion" [class.closed]="!isOpen">
    <div class="accordion-title" [ngClass]="highlightClass" clickStopPropagation (click)="onTitleLeftClick($event)" (contextmenu)="onTitleRightClick($event)">
        <div>
            <ng-container *ngTemplateOutlet="accordionTitle"></ng-container>
        </div>
        <div class="accordion-toggle" (click)="toggle()">></div>
    </div>
    <div class="accordion-body" [ngClass]="highlightClass">
        <ng-container *ngTemplateOutlet="accordionBody"></ng-container>
    </div>
</div>
